@media only screen and (min-width: 1366px) {
  .cards-container .flex-container:after { margin-left: 25%; }
  .cards-container .flex-container .card {
    flex-basis: calc(25% - 10px);
  }
}

@media only screen and (max-width: 1040px) {
  .cards-container .flex-container .card {
    flex-basis: calc(50% - 10px);
  }
}

@media only screen and (max-width: 800px) {
  .cards-container .flex-container .card {
    flex-basis: calc(100% - 10px);
  }
  .popup-add-card-form { width: 50%; }
}

@media only screen and (max-width: 560px) {
  body { padding-left: 0; }

  .menu-button { display: block; position: absolute;}
  .right-control-panel {
    position: absolute;
    height: 400px;
    width: 100%;
    left: -100%;
    right: 0;
    top: 0;
  }

  .right-control-panel nav li a {
    text-indent: 0;
    align-items: center;
    justify-content: center;
  }

  .right-control-panel.active {
    left: 0;
    height: 700px;
  }
  .cards-container { margin: 20px auto 20px auto; }

  .popup-add-card-form { width: 90%; height: 320px; min-width: 250px;}
}
