* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", "Century Gothic", sans-serif;
}

ul, ol { list-style: none; }

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
