@import url('https://fonts.googleapis.com/css?family=Fjord+One|Roboto');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 100%;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", "Century Gothic", sans-serif;
}

body {
  padding-left: 290px;
  background: #de5385; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #de5385 0%, #276189 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #de5385 0%,#276189 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #de5385 0%,#276189 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de5385', endColorstr='#276189',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-attachment: fixed;
  background-repeat: no-repeat;
}

ul, ol { list-style: none; }

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.menu-button {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: all .4s ease-in-out;
  position: fixed;
  cursor: pointer;
  display: none;
  height: 50px;
  width: 50px;
  z-index: 1;
  left: 0;
  top: 0;
}

.menu-button > div {
  transform: translate(-50%, -50%);
  background-color: gray;
  transition: all .5s;
  position: absolute;
  margin: 0 auto;
  height: 5px;
  width: 70%;
  border-radius: 5px;
  left: 50%;
  top: 50%;
}

.menu-button > div:before,
.menu-button > div:after {
  content: "";
  border-radius: inherit;
  width: 100%;
  height: 5px;
  background: gray;
  position: absolute;
  transition: all .4s;
}

.menu-button > div:before { top: -9px; }
.menu-button > div:after { top: 9px; }

.menu-button.active { left: calc(100% - 50px); background: transparent; box-shadow: none; }
.menu-button.active > div { background: rgba(0, 0, 0, 0); }

.menu-button.active > div:before,
.menu-button.active > div:after { background: #fff; }

.menu-button.active > div:before { transform: rotate(45deg); top: 0px}
.menu-button.active > div:after { transform: rotate(-45deg); top: 0px}

.right-control-panel {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
  transition: all .4s ease-in-out;
  flex-direction: column;
  align-items: center;
  background: #f7f7f7;
  overflow: hidden;
  position: fixed;
  display: flex;
  height: 100vh;
  width: 290px;
  left: 0;
  top: 0;
}

.right-control-panel .profile-container {
  width: 100%;
  height: 330px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url("../img/profile-background.jpg") no-repeat center / cover;
}

.right-control-panel .profile-container .profile-photo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 6px solid #fff;
}

.right-control-panel .profile-container .user-name {
  width: 100%;
  color: #fff;
  margin-top: 15px;
  font-size: 1.4em;
  font-weight: 300;
  text-align: center;
}

.right-control-panel nav {
  width: 100%;
  height: 200px;
}

.right-control-panel nav ul { width: 100%; height: 100%; }

.right-control-panel nav li {
  width: 100%;
  height: 25%;
}

.right-control-panel nav li a {
  color: #333;
  height: 100%;
  display: flex;
  text-indent: 40px;
  align-items: center;
  background-color: #e6e6e6;
  text-transform: uppercase;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.right-control-panel nav li a:hover {
  background-color: #adadad;
  color: #fff;
}

.right-control-panel .add-card-icon {
  width: 50px;
  height: 60px;
  margin: auto;
  cursor: pointer;
  background: url("../img/add-card-icon.png") no-repeat center / 100% 100%;
}

.right-control-panel .add-card-icon {
  width: 50px;
  height: 60px;
  margin: auto;
  z-index: 99;
  cursor: pointer;
  position: relative;
  background: url("../img/add-card-icon.png") no-repeat center / 100% 100%;
}

.right-control-panel .add-card-icon:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: -2px;
  left: -13px;
  width: 125%;
  height: 110%;
  opacity: 0;
  border: 1px solid #333;
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}

.right-control-panel footer {
  width: 100%;
  background-color: #e6e6e6;
}

.right-control-panel footer .social-icons {
  padding: 10px;
  text-align: center;
}

.right-control-panel .social-icons i {
  color: #333;
  cursor: pointer;
  margin: 0 7px 0 7px;
  transition: .3s;
}
.right-control-panel .social-icons i:first-child:hover { color: #3b5999; }
.right-control-panel .social-icons i:nth-child(2):hover { color: #dd4b39; }

.right-control-panel footer p {
  text-align: center;
  font-size: 0.8em;
}

.cards-container {
  width: 96.5%;
  padding: 10px;
  margin: 20px auto;
  min-height: calc(100vh - 40px);
  background-color: rgba(255, 255, 255, 0.13);
}

.cards-container .flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 10px 10px;
}

.cards-container .flex-container::after {
  content:"";
  display: block;
  margin-left: 33.33%;
}

.cards-container .flex-container .card {
  padding: 20px;
  margin: 10px auto 0 0;
  background-color: #fff;
  flex-basis: calc(33.333333% - 10px);
}

.cards-container .flex-container .card h3 { float: left; font-size: 1.15em; }
.cards-container .flex-container .card i { float: right; color: #be5353; cursor: pointer;}
.cards-container .flex-container .card p { clear: both; padding-top: 5px; font-family: "Fjord One"; }

@-webkit-keyframes pulse {
  from { opacity: 0.4; transform: scale(0.8);}
  to { opacity: 0; transform: scale(1.4);}
}

@keyframes pulse {
  from { opacity: 0.4; transform: scale(0.8);}
  to { opacity: 0; transform: scale(1.4);}
}

@media only screen and (min-width: 1366px) {
  .cards-container .flex-container::after { margin-left: 25%; }
  .cards-container .flex-container .card {
    flex-basis: calc(25% - 10px);
  }
}

@media only screen and (max-width: 1040px) {
  .cards-container .flex-container .card {
    flex-basis: calc(50% - 10px);
  }
}

@media only screen and (max-width: 800px) {
  .cards-container .flex-container .card {
    flex-basis: calc(100% - 10px);
  }
}

@media only screen and (max-width: 560px) {
  body { padding-left: 0; }

  .menu-button { display: block; position: absolute;}
  .right-control-panel {
    position: absolute;
    height: 400px;
    width: 100%;
    left: -100%;
    right: 0;
    top: 0;
  }

  .right-control-panel nav li a {
    text-indent: 0;
    align-items: center;
    justify-content: center;
  }

  .right-control-panel.active {
    left: 0;
    height: 700px;
  }
  .cards-container { margin: 20px auto 20px auto; }
}
